<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Daniel's Notes</title>
</head>
<body class = "bg-light-yellow">
	{{ partial "header" . }}
	{{range .Pages}}
	<section class="mw7 center">
	<ul class="list pl0">
		<a class="db f3 mb1 dark-blue dim" href="{{.URL}}">
			<h1 class="f3 fw1 mt0 lh-title">{{.Title}}</h1>
		</a>
	</ul>
	</section>
	{{end}}
</body>
</html>
