<html>
<head>
	<link rel="stylesheet" href="css/tachyons.min.css"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Daniel's Notes</title>
</head>
<body class = "bg-light-yellow">
	{{ partial "header" . }}
	{{range .Pages}}
	<section class="mw7 center">
	<ul class="list pl0 ml0 center mw6 ba">
		<a class="ph3 pv3 dim" href="{{.URL}}">
			<li class="ph3 pv3">{{.Title}}</li>
		</a>
	</ul>
	</section>
	{{end}}
</body>
</html>
